.style{
    background-color: ivory;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar{
    background-color: rgb(234, 164, 220);
    height: 70px;
    font-family: calibri;
}

.navdiv{
    align-items: center;
    display: flex;
    flex-direction: row;
}

.logo a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 35px;
    font-weight: 600;
    font-family: 'calibri';
}

.pages li a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
}

.pages li a:link,
.pages li a:visited,
.pages li a:hover,
.pages li a:active {
    text-decoration: none;
}

.pages li{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navlinks{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    gap: 30px;
}




.aboutMe {
    background-color: ivory;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: bisque;
    text-shadow: 0 0 5px #9713f0, 0 0 10px #9713f0, 0 0 15px #9713f0;
}

.carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: honeydew;
    overflow-x: auto;
    gap: 10px;
    padding: 10px 3px 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.carousel-item{
    height: 250px;
    width: 250px;
    border-radius: 20px;
    background-color: #ca94ef;
    border: 1px solid rgb(73, 0, 128);
    padding: 5px;
    text-align: center;
    font-size: 14px;
    color: white;
    font-family: 'Courier New', monospace;
    text-shadow: 0 0 5px #9713f0, 0 0 10px #9713f0, 0 0 15px #9713f0;
}

.carousel-item:hover {
    background-color: #9d30e6;
    border: 1px solid black;
    box-shadow: 0 0 10px #9d30e6;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.carousel-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.footContact{
    background-color: rgb(202, 177, 244);
    color: black;
    text-align: center;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.friends{
    background-color: beige;
    color: black;
    text-align: center;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.friends-item{
    background-color: antiquewhite;
    color: blueviolet;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: none;
    justify-content: center;
    align-items: center;
}