/*Work on the alignment next*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.style{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    height: 150px;
    font-family: calibri;
}

.navlinks{
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0 auto;
    gap: 20px;
}

.logo{
    color: rgb(202, 177, 244);
    cursor: pointer;
}

.logo a{
    font-family: 'calibri';
    text-decoration: none;
    font-size: 40px;
    font-weight: 600px;
    color: rgb(202, 177, 244);
}

.navPageLink a, .navPageLink a:link, .navPageLink a:visited,
.navPageLink a:active{
    text-decoration: none;
    color: rgb(202, 177, 244);
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
}

.navPageLink a:hover{
    color: rgb(109, 73, 171);
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
}




.pagesDiv{
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-self: center;
    gap: 20px;
    margin-top: 20px;
}

.linkToPagesBody{
    border: 0px solid black;
    border-radius: 20px;
    box-shadow: 0 0 10px #ca94ef;
    padding: 20px;
    height: 100px;
    width: 100%;
    position: relative;
    display: inline-block;

    /*margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: bisque;
    text-shadow: 0 0 5px #9713f0, 0 0 10px #9713f0, 0 0 15px #9713f0;*/
}

.image{
    display: block;
    height: auto;
    width: 100%;
}

.linkToPagesBody img{
    height: 100px;
    width: 200px;
}

.aboutMe {
    background-color: ivory;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: bisque;
    text-shadow: 0 0 5px #9713f0, 0 0 10px #9713f0, 0 0 15px #9713f0;
}

.carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: honeydew;
    overflow-x: auto;
    gap: 10px;
    padding: 10px 3px 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.carousel-item{
    height: 250px;
    width: 250px;
    border-radius: 20px;
    background-color: #ca94ef;
    border: 1px solid rgb(73, 0, 128);
    padding: 5px;
    text-align: center;
    font-size: 14px;
    color: white;
    font-family: 'Courier New', monospace;
    text-shadow: 0 0 5px #9713f0, 0 0 10px #9713f0, 0 0 15px #9713f0;
}

.carousel-item:hover {
    background-color: #9d30e6;
    border: 1px solid black;
    box-shadow: 0 0 10px #9d30e6;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.carousel-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.footContact{
    background-color: rgb(202, 177, 244);
    color: black;
    text-align: center;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.friends{
    background-color: beige;
    color: black;
    text-align: center;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.friends-item{
    background-color: antiquewhite;
    color: blueviolet;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: none;
    justify-content: center;
    align-items: center;
}


/*.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    width: 300px;
    height: 300px;
    margin: 20px auto;
    removed    border: 20px solid #ca94ef;
}

.grid-item-1, .grid-item-2, .grid-item-4, .grid-item-6, 
.grid-item-7, .grid-item-8, .grid-item-9
{
    background-color: rgb(202, 177, 244);
    border: none;
}*/

/*<div class="container">
        <div class="grid-item-1" id="1"></div>
        <div class="grid-item-2" id="2"></div>
        <div class="grid-item-3" id="3"></div>
        <div class="grid-item-4" id="4"></div>
        <div class="grid-item-5" id="5"></div>
        <div class="grid-item-6" id="6"></div>
        <div class="grid-item-7" id="7"></div>
        <div class="grid-item-8" id="8"></div>
        <div class="grid-item-9" id="9"></div>
    </div>*/