*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.introTextClass{
    width: 50vw;
    font-size: 24px;
    /*I want a fun font, copilot*/
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: white;
    text-align: center;
}

.welcome{
    font-size: 50px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ca94ef;
    text-align: center;
    margin-top: 20px;
}

/* May come back to change the card sizing for persona
.personaCard{
    width: 12vw;
    height: 40vh;
}

.personaImg{
    height: 20vh;
    object-fit: cover;
}
*/

.persona-carousel{
    --gap: 40px;
}

.personaBody{
    background-color: rgb(109, 73, 171);
    color: white;
}

.myFriendsCont{
    margin-top: 15vh;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    text-align: center;
    color: black;
}

.friends{
    background-color:rgb(109, 73, 171);
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    padding-bottom: 15vh;
}

.friend-item{
    background-color: antiquewhite;
    color: rgb(109, 73, 171);
    width: 20vw;
    border-radius: 10px;
}

.theirWork{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.theirWork a, .theirWork a:link, .theirWork a:visited{
    color: rgb(109, 73, 171);
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

.workName{
    padding: 1vw 1vh 1vw 1vh; /* top right bottom left */
}